<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerAdress" value="172.16.1.117\PROGRESS"/>
		<add key="DatabaseName" value="EntrySystem"/>
		<add key="UsrName" value="sa"/>
		<add key="Pw" value="Helloistanbul57"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>